body {
  background: #f5f5ff;
}

a {
  color: #4b5668;
}

.App {
  margin: 50px auto;
  max-width: 960px;
}

.App-header h1 {
  text-align: center;
}

.App-footer {
  text-align: center;
  font-size: 12px;
  margin: 30px 0;
}
