body {
  background: #f4f6fd;
}

a {
  color: #017072;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

a:hover {
  color: #002c2d;
}

.App {
  margin: 50px auto;
  max-width: 960px;
}

.App-header h1 {
  text-align: center;
}

.App-footer {
  text-align: center;
  font-size: 12px;
  margin: 30px 0;
}
